
**<h1>Exploratory Data Analysis on Credit:</h1>**
Approach Using SQL in Amazon S3 and Athena Environment.

# **Context.**

In this analysis, we delve into the universe of banking data, revealing essential nuances about customers. Through columns spanning from demographic to behavioral information such as age, gender, salary, and transaction history, our exploration aims to decipher patterns and trends. Using SQL as a tool, we seek valuable insights to enhance strategies, understand customer behavior, and shape strategic decisions in the constantly evolving financial landscape.

# **Data Collection.**

The data was made available at: https://github.com/andre-marcos-perez/ebac-course-utils/tree/main/dataset

# **Data Structure.**

The data provides details about bank customers and includes the following columns:

- age = customer's age
- gender = customer's gender (F or M)
- dependents = number of dependents of the customer
- education = customer's level of education
- annual_salary = customer's salary range
- card_type = customer's card type
- products_quantity = quantity of products purchased in the last 12 months
- interactions_12m = number of interactions/transactions in the last 12 months
- months_inactive_12m = number of months the customer remained inactive
- credit_limit = customer's credit limit
- transaction_value_12m = value of transactions in the last 12 months
- transactions_quantity_12m = quantity of transactions in the last 12 months

# **Initial Data Exploration.**

To understand the state of our file, let's query the number of entries present in the file.
With the query **select count(*) from credit**, we can observe a total of 2564 rows.

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%201.jpg?raw=true)

# **Data Typing.**

Correct data typing plays a crucial role in obtaining precise and meaningful insights during exploratory analysis. By employing the DESCRIBE function to examine the properties and descriptive statistics of each column, we ensure that information is interpreted appropriately. The appropriate choice of data types not only facilitates efficient data handling but also ensures the integrity of analytical operations, avoiding distortions or misconceptions. The data description process becomes a valuable tool when types are accurate, allowing for a deeper understanding of the individual characteristics of each variable and consequently contributing to a more robust and reliable analysis.
With the query **DESCRIBE** credit, we have the complete typing of all columns.

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%202%20describe.jpg?raw=true)

# Now that we have the data typing in hand, let's understand the **categorical variables.**

Let's find out how many types of **education** we have in our file, with the query **SELECT DISTINCT education FROM credit**.

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%203%20-%20%20escolaridade.jpg?raw=true)

Unique types of the **marital_status** column in the file.

With the query **SELECT DISTINCT marital_status FROM credit**, we have:

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%204%20-%20%20estado%20civil.jpg?raw=true)

Unique types of the **annual_salary** column in the file.

With the query **SELECT DISTINCT annual_salary FROM credit**, we have:

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%205%20-%20%20salario_anual.jpg?raw=true)

Unique types of the **card_type** column in the file.

With the query **SELECT DISTINCT card_type FROM credit**, we have:

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%206%20-%20%20tipo%20cart%C3%A3o.jpg?raw=true)

After performing this exploratory step on the categorical variables, we can notice that all categorical variables have NA values except for the **card_type** column. The presence of "NA" values in a dataset can occur for various reasons, including: **Data Collection Failure, Errors during Transmission or Storage,** or in **Data Processing.**

# **Data Analysis.**

After exploring the data and seeking to understand the information in the provided database, we can perform analyses to understand what is happening in the database. Let's analyze aspects related to the business.


1 - Annual salary range of customers by quantity.
Query: select count(*), annual_salary from credit group by annual_salary

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%207%20faixa%20salarial%20clientes.jpg?raw=true)

- Through the image above, we notice that the majority of customers registered in this database have an income below 40 thousand, and there are 235 customers for whom the salary range was not provided or is not registered. In a certain sense, it may be advantageous for the company to focus on this lower-income segment of the audience.

# **2 - Quantity of men and women in the dataset**.

Query: **select count(*), gender from credit group by gender**

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%208%20sexo.jpg?raw=true)

- The predominance of customers in this database is male. Based on the CSV file containing the data, it is feasible to create a pie chart to visualize more clearly the proportion between male and female genders.

# **3 - Overview of ages**

Query: **select avg(age) as average_age, min(age) as min_age, max(age) as max_age, gender from credit group by gender**

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%209%20idade.jpg?raw=true)

- This analysis did not reveal significant information. The minimum age is the same for both genders, and the average is quite similar. The only discrepancy observed is in the maximum age, but this fact is almost irrelevant since the difference is not significant.

# **4 - Profile of customers with the highest credit limits.**

Query: **select max(credit_limit) as credit_limit, education, card_type, gender from credit where education != 'na' and card_type != 'na' group by education, card_type, gender order by credit_limit desc limit 10**

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%2010%20perfil%20clientes%20maiores%20creditos.jpg?raw=true)

- There doesn't seem to be a correlation between the level of education and the credit limit. The highest limit is granted to a man with no formal education. Additionally, there doesn't appear to be a clear association between card type and education or credit limit. Among the highest limits, we observe customers with cards of different categories such as gold, silver, platinum, and blue.

# **5 - Profile of customers with the lowest credit limits.**

Query: **select max(credit_limit) as credit_limit, education, card_type, gender from credit where education != 'na' and card_type != 'na' group by education, card_type, gender order by credit_limit asc**

[](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%2011%20perfil%20clientes%20menores%20creditos.jpg?raw=true)

- In this analysis, we observe that there are no customers with platinum cards among those with the lowest limits. Additionally, we notice that most customers with the lowest limits are female, while in the cases of the highest limits, males predominate.

# **6 - Spending profile of women**

Query: **select max(transaction_value_12m) as highest_spending, avg(transaction_value_12m) as average_spending, min(transaction_value_12m) as lowest_spending, gender from credit group by gender**

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%2012%20perfil%20gasto%20mulheres.jpg?raw=true)

- Here we see that the spending is almost the same.

# **7 - The impact of salary on the limit.**

Query: **select avg(products_quantity) as average_products, avg(transaction_value_12m) as average_transaction_value, avg(credit_limit) as average_limit, gender, annual_salary from credit where annual_salary != 'na' group by gender, annual_salary order by avg(transaction_value_12m) desc**

![](https://github.com/luizkrawiec/imagens-kaggle-AED-credito/blob/main/query%2013%20impacto%20salario%20no%20limite.jpg?raw=true)

- Confirming that people with lower salary ranges have lower credit limits.

# **Some observations:**

- Salary range directly impacts the credit limit.
- Customers with the lowest limits are mostly women.
- Education level seems to have no influence on credit limit or card type.
- There are no female customers with annual salaries above 60K.
- The majority of customers are male.
- Customers with the highest limits are mainly men.
- Among customers with the lowest limits, there is no presence of the platinum card.
- Most customers have an income of up to 40K.